@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;   
}
#main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #19365f;
}

#questionTextDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 45%;
}
#highScore{
    color: white;
    font-size: 20px;
}
#realHighScore{
    color: white;
    font-size: 20px;
}

label{
    margin-left: 20px;
}

#answers li{
    margin-top: 20px;
}
#answers ul{
    list-style-type: none;
    margin-left: 40px;
}

#answers{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 45%;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
#cardQuestion{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80vh;
    background-color: #4d77a1;
    border-radius: 50px;
    box-shadow: 0px 0px 32px 7px rgba(0,0,0,0.1);
}
#questionTextP{
    color: white;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
}
#resetBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 4.5vh;
    border-radius: 10px;
    font-weight: 500;
    background-color: #bfd7ee;
    color: rgb(71, 71, 71);
    box-shadow: -7px 9px 11px -3px rgba(0,0,0,0.1);
    cursor: pointer;
}
#resetBtn:hover{
    background-color: #7C7C7C;
    color: white;
    transition: 0.5s;
}
#submitBtn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 4vh;
    border-radius: 10px;
    background-color: #19365f;
    color: white;
    font-weight: 550;
    box-shadow: -7px 9px 11px -3px rgba(0,0,0,0.1);
    cursor: pointer;
    padding: 15px;
}
#submitBtn:hover{
    background-color: #CBEF43;
    color: rgb(47, 47, 47);
    transition: 0.5s;
}
.myModal{
    display: none;
    width: 30%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 20px;
    background-color: #CCFBFE; 
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.yes-no{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 4vh;
}
#confirmAns{
    color: #202A25;
    font-weight: 500;
}
.yes-no #yes{
    margin: 15px;
    margin-top: 40px;
    padding: 3px;
    width: 60px;
    background-color: #19365f;
    color: white;
    border-radius: 15px;
}
.yes-no #yes:hover{
    background-color: #CBEF43;
    color: #202A25;
    font-weight: 600;
    transition: 0.5s;
}
.yes-no #no{
    margin: 15px;
    margin-top: 40px;
    padding: 3px;
    width: 60px;
    background-color: #19365f;
    color: white;
    border-radius: 15px;
}
.yes-no #no:hover{
    background-color: #CBEF43;
    color: #202A25;
    font-weight: 600;
    transition: 0.5s;
}
input[type="radio"] {
    width: 17px;
    height: 17px;
}

  

